:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 14px;
  margin-top: 15px;
}

h2 {
  font-size: 60px;
  margin-top: 120px;
  font-weight: 500;
} 

h3 {
  font-size: 22px;
  opacity: 0.7;
}

h4, h5 {
  font-size: 18px;
  font-weight: 600;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.navigation-links a {
  margin: 5px 20px 40px 20px;
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
}

.links {
  display: flex;
  margin-top: 10px;
}

.links, a {
  border-radius: 4px;
  padding: 5px 0px;
  text-decoration: underline;
}

.arch-link, .tech-link, .design-link, .email-link {
  font-size: 14px;
  color: black;
}



.contact-link, .homepage-link {
  font-size: 14px;
  color: white;
  background: black;
  box-shadow: var(--box-shadow);
}

.about-link {
  color: black;
  border: 1px solid grey;
  box-shadow: var(--box-shadow);
  font-size: 14px;
  background: white;  
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

h5, .email-link {
  display: flex;
  justify-content: center;
}

.email-link:hover {
  text-decoration: underline;
}
