@import url('src/satoshi.css');

:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --areia-suave: rgba(232, 225, 215, 0.7);
  --cinza-argila: rgb(168, 162, 158);
  --carvao: rgb(28, 28, 26);
  --terracota: rgba(154, 96, 64, 0.7);
}

body {
  background-color: var(--areia-suave);
  color: var(--carvao);
  display: block;
  margin: 5px 20px;
  padding: 5px;
  max-width: 100%;
  font-family: "Google Sans Code", monospace
}

h1, h2, h3 {
  text-align: left;
}

h1 {
  font-size: 12px;
  margin-top: 30px;
  opacity: 0.7;
}

h2 {
  font-size: 70px;
  margin-top: 50px;
  font-weight: 500;
} 

h3 {
  font-size: 17px;
  opacity: 0.7;
}

h4, h5 {
  font-size: 18px;
  font-weight: 600;
}

hr {
  color: var(--cinza-argila);
}
p {
  background: var(--cinza-argila);
  padding: 20px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.primary-font {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .secondary-font {
  font-family: Satoshi-Regular, monospace;
} */

.secondary-font {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.logo {
  margin: 0px 0px 5px 0px;
}

.nav-links {
  opacity: 0.7;
  cursor: pointer;
}

.nav-links:hover {
  transition: 0.3ms;
  color: var(--terracota);
  cursor: pointer;
}

.links {
  display: flex;
  margin-top: 10px;
}

.links, a {
  padding: 5px 0px;
  text-decoration: none;
}

.arch-link, .tech-link, .design-link, .email-link {
  font-size: 14px;
  color: var(--carvao);
}

.arch-link:hover, .tech-link:hover, .design-link:hover, .email-link:hover {
  font-size: 14px;
  transition: 0.3ms;
  color: var(--terracota);
  cursor: pointer;
  text-decoration: underline;
}

.paragraph {
  text-align: justify;
  margin-right: 15px;
}

.boxes {
  display: flex;
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
  padding: 2px;
}

.box-left, .box-right {
  background-color: var(--cinza-argila);
}

.about-paragraphs p {
  margin: 10px;
}

h5, .email-link {
  display: flex;
  justify-content: center;
}

.email-link:hover {
  text-decoration: underline;
}